* {
    margin: 0;
    padding: 0;
  }

  html,body
  {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 
  }

/*Headings and paragraphs*/

h1{
    font-family: "itc-american-typewriter";
    font-size: 90px;
    color: #fffefa;
    font-weight: lighter;
}

h2{
    font-family: "itc-american-typewriter";
    color: #fffefa;
    font-weight: 500; 
    font-size: 36px;
    padding-bottom: 20px;
}

h3{
    font-family: "karla";
    color: #fffefa;
    font-size: 24px;
    line-height: 1.5;
}

p{
    font-family: "karla";
    color: #fffefa;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 20px;
}

/*Hero section*/

.hero-parallax{
    background-image: url("images/hero-images.png");
    height: 900px;
    margin-top: -65px;
  
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#titel{
    height: 400px;
    position: relative;
    top: 15%;
    left: 10%;
}

#arrow{
    color: #fffefa;
    font-size: 100px;
    position: relative;
    margin-left: 700px;
    margin-top: 275px;
}

i:hover {
    animation: bounce 1s;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

/*Om os section*/

#type{
    font-family: "itc-american-typewriter";
    color: #fffefa;
    font-weight: 500; 
    font-size: 36px;
    padding-bottom: 40px;
}

.om-os-container {
    background: linear-gradient(
    to right,
    #133e5e 0%,
    #12402c 100%);
    padding-bottom: 3%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hvad-er{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 4%;
  
}

#myVideo{
   max-width: 70%;
   max-height: 70%; 
}

/*Citat 1 section*/

.parallax1 {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/two-women.png);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
}

.tekstboks1{
  padding-top: 35%;
  padding-left: 15%;
}

/*Interview1 og 3 section*/

.interview1-container {
    background: linear-gradient(
        to right,
        #133e5e 0%,
        #12402c 100%);
        padding-bottom: 3%;
        margin-top: -30px;
        height: 600px;
        display: flex;
        flex-direction: row-reverse;
}

.interview-tekst{
    flex-basis: 50%;
    padding: 8%;
}

.Video1{
    flex-basis: 50%;
    padding: 10%;
}

.Video1 .Video{
    max-width: 120%;
    max-height: 120%;
}

#type2{
    font-family: "itc-american-typewriter";
    font-size: 16px;
    padding-top: 3%;
}

/*Galleri section*/

.galleri{
    background: linear-gradient(
        to right,
        #133e5e 0%,
        #12402c 100%);
}

/*Slideshow section*/

.slides-container{
    background: linear-gradient(
        to right,
        #133e5e 0%,
        #12402c 100%);
}

/* Slideshow container */
.slideshow-container {
   
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 14px;
  font-family: "karla";
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*Interview2 section*/

.interview2-container {
    background: linear-gradient(
        to right,
        #133e5e 0%,
        #12402c 100%);
        padding-bottom: 3%;
        margin-top: -30px;
        height: 600px;
        display: flex;
        flex-direction: row;
}

.interview-tekst2{
    flex-basis: 50%;
    padding: 8%;
    margin-left: 2%;
}

.Video2{
    flex-basis: 50%;
    padding: 10%;
    margin-right: 15%;
}

.Video2 .Video{
    max-width: 155%;
    max-height: 155%;
}

#audio-player{
    padding-top: 5%;
}

/*Citat 2 section*/

.parallax2 {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/ryg-mod-ryg.png);
    min-height: 1200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tekstboks2{
  padding-top: 35%;
  padding-left: 8%;
}

.tekstboks3{
    position: relative;
    top: -300px;
    left: 940px;
}


/*Kontakt section*/

.parallax3 {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/footer-image.png);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -30px;
}

.kontakt{
    background: rgba(0,0,0,0.4);
    color: #fffefa;
    width: 400px;
    border-radius: 12px;
    padding: 4%;
    position: relative;
    left: 800px;
    top: 450px;
}

#tekst{
    color: #fffefa;
    padding-bottom: 50px;
}

.knap{
     text-decoration: none;
     color: #fffefa;
     font-family: "karla";
     background-color: #d9aa01;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     border-radius: 14px;
     font-size: 20px;
     padding: 10px 15px;
     margin: 6px 12px;
}

.knap:hover{
    background-color: #F8C233;
}

/*Footer*/

.container-footer{
    background: linear-gradient(
        to right,
        #133e5e 0%,
        #12402c 100%);
        height: 100px;
        display: flex;
        justify-content: space-around;
}

.container-footer a img{
    height: 40px;
    margin-top: 30px;
    position: relative;
    right: 60px;
}

.container-footer p{
    position: relative;
    top: -50px;
}

#kontaktikoner a img{
    height: 40px;
    margin-left: 50px;
    margin-top: 30px;
}

/*Media quaries*/


